.mainThird {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
  background-color: #f5f5f5;
  justify-content: center;
}

.infoBlock {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.infoBlock h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.infoBlock p {
  margin: 6px 0;
  font-size: 16px;
}

.buttons {
  margin-top: 15px;
  background-color: #0391D3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  height: 40px;
  padding: 10px;
  box-shadow: -10px 12px 8px -4px rgba(0, 0, 0, 0.42);
}

.buttons:hover {
  box-shadow: -5px 9px 6px -0px rgba(0, 0, 0, 0.42);
  transform: scale(1.05);
  transition: 0.3s;
}

.map {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
}

/* Планшеты */
@media (max-width: 1024px) {
  .map {
    height: 400px;
  }
}

/* Смартфоны */
@media (max-width: 768px) {
  .mainThird {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .infoBlock {
    max-width: 100%;
  }

  .map {
    height: 300px;
  }
}

/* Очень маленькие устройства */
@media (max-width: 480px) {
  .buttons {
    height: 45px;
    font-size: 16px;
  }

  .map {
    height: 250px;
  }
}